.f {
  color: rgb(223, 103, 6);
}
.d {
  color: rgb(74, 46, 97);
}
.v {
  color: rgb(21, 147, 41);
}
.e {
  color: rgb(116, 186, 221);
}
.val {
  color: rgb(7, 24, 173);
}
.c {
  color: rgb(68, 106, 84);
}
